@inherits LayoutComponentBase
@* @using VillageRentalsGUI.Data *@

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
	    <div class="top-row px-4">

		    @* Breadcrumb
		    <div>
			    <Breadcrumb Items="NavItems1"></Breadcrumb>
			    <Breadcrumb Items="NavItems2"></Breadcrumb>
		    </div>*@
			

		    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
	    </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

