@page "/addrental"
@using VillageRentalsGUI.Data
@inject NavigationManager Navigation

<h1>Add New Rental</h1>
<hr />
<div class="container">
    <div class="row">
        <!-- Form Section -->
        <div class="col">
            Enter new equipment details:
            <p class="text-danger">* <i class="text-dark">Required</i></p>

            <!-- Search customer by ID or name -->

            <form> @* put @onsubmit*@
				
	            @*Drop downs for Category and Equipment*@

	            @*NEED TO ADD LISTS IN EACH OF THE OPTION - should we do a class?*@
	            <div class="form-group row mb-3">
		            <label class="col-sm-4 col-form-label me-5" for="Category">Category<i class="text-danger">*</i></label>
		            <div class="col-sm-7">
			            <select class="form-select ms-5"> @* put @bind="#"*@
				            <option selected>Select Category</option>
				            <option value="false">Active</option>
				            <option value="true">Banned</option>
			            </select>
		            </div>
	            </div>
                
	            <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label me-5" for="Equipment">Equipment<i class="text-danger">*</i></label>
		            <div class="col-sm-7">
			            <select class="form-select ms-5"> @* put @bind="#"*@
				            <option selected>Select Equipment</option>
				            <option value="false">Active</option>
				            <option value="true">Banned</option>
			            </select>
		            </div>
	            </div>
				
	            <div class="form-group row mb-3">
		            <label class="col-sm-4 col-form-label me-5" for="Customer">Customer<i class="text-danger">*</i></label>
		            <div class="col-sm-7">
			            <select class="form-select ms-5"> @* put @bind="#"*@
				            <option selected>Assign to Customer</option>
				            <option value="false">Active</option>
				            <option value="true">Banned</option>
			            </select>
		            </div>
	            </div>


	            @* Date Input Section for the Form*@

	            <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label me-5">Rental Start Date<i class="text-danger">*</i></label>
                    <div class="col-sm-7">
	                    <input class="form-control ms-5" type="date"/> @* put @bind="#"*@
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label me-5">Return Date<i class="text-danger">*</i></label>
                    <div class="col-sm-7">
                        <input class="form-control ms-5" type="date"/> @* put @bind="#"*@
                    </div>
                </div>
				
				
                @*COST HERE FOR THE RENTAL*@
	            <div class="form-group row mb-3">
                    @*This part needs to be an estimate calculated based on the entries.*@
		            <label class="col-sm-4 col-form-label me-5">Cost<i class="text-danger">*</i></label>
		            <div class="col-sm-7">
                        <input type="tel" class="form-control ms-5" placeholder="Estimated cost here" value="Estimated cost here" aria-label="Disabled input example" disabled readonly /> @* put @bind="#"*@
		            </div>
	            </div>


                <div>
                    <button class="btn btn-primary mb-3 me-3" type="submit">Add Equipment</button>
                </div>
            </form>

        </div>

        <!-- Updated Customer Info Section -->
        <div class="col">
           @* @if ()
            {
                    <table class="table">
                        <thead>
                            <tr class="mb-5">
                                <th class="p-3 bg-success bg-opacity-50 rounded-1 text-white fs-4 ">Customer Added!</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border rounded-3 mt-3 py-2 px-3">First Name: @#?.FirstName</td>
                            </tr>
                            <tr>
                                <td class="border rounded-3 py-2 px-3">Last Name: @#.LastName</td>
                            </tr>
                            <tr>
                                <td class="border rounded-3 py-2 px-3">Phone Number: @#.PhoneNumber</td>
                            </tr>
                            <tr>
                                <td class="border rounded-3 py-2 px-3">Email: @#.Email</td>
                            </tr>
                            <tr>
                                <td class="border rounded-3 py-2 px-3">Discount: @#.Discount%</td>
                            </tr>
                            <tr>
                                <td class="border rounded-3 py-2 px-3"> Customer Status: @(#.IsBanned ? "Banned" : "Active")</td> 
                            </tr>
                        </tbody>
                    </table>

                    <div>
                    <button class="btn btn-primary mt-6">Go Back to Customer Management</button> @* put @onclick="GoToCustomerPage"
                    </div>
                    }
            *@
        </div>

    </div>

</div>



@code {

}
