@page "/"

<img src="villagerentalspic.png" alt="Village Rentals Main" class="img-fluid">

<br />

<h1 class="mt-3">Welcome to Village Rentals!</h1>

<hr/>

<p>This is the Rental Management System</p>

<p>Please <b>select the action at the side bar menu</b> to proceed.</p>